<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226051383195-qrpg67v3a6clde2amnf23piif386j1ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226051383195-qrpg67v3a6clde2amnf23piif386j1ga</string>
	<key>API_KEY</key>
	<string>AIzaSyCJYZnpoTz86Pejm3Wp4tR6G0JaHe4D7T8</string>
	<key>GCM_SENDER_ID</key>
	<string>226051383195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.udemyFlutter</string>
	<key>PROJECT_ID</key>
	<string>chat-app-c879f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-c879f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226051383195:ios:4b74471d029164b5718b3e</string>
</dict>
</plist>